/** UTILITY CLASSES **/

/* COLOUR */

.u-text-primary-100 {
    color: var(--clr-primary-100);
}

.u-text-primary-200 {
    color: var(--clr-primary-200);
}

.u-text-primary-300 {
    color: var(--clr-primary-300)
}

.u-text-primary-400 {
    color: var(--clr-primary-400)
}

.u-text-secondary-40 {
    color: var(--clr-secondary-40);
}

.u-text-secondary-100 {
    color: var(--clr-secondary-100);
}

.u-text-secondary-200 {
    color: var(--clr-secondary-200);
}

.u-text-secondary-300 {
    color: var(--clr-secondary-300)
}

.u-text-secondary-400 {
    color: var(--clr-secondary-400)
}

.u-text-accent-one-80 {
    color: var(--clr-accent-one-80);
}

.u-text-accent-one-100 {
    color: var(--clr-accent-one-100);
}

.u-text-accent-one-200 {
    color: var(--clr-accent-one-200);
}

.u-text-accent-three-40 {
    color: var(--clr-accent-three-40);
}

.u-text-accent-three-60 {
    color: var(--clr-accent-three-60);
}

.u-text-light-80 {
    color: var(--clr-light-80);
}

.u-text-light-100 {
    color: var(--clr-light-100);
}

.u-text-white {
    color: var(--clr-white);
}

.u-text-soft-black {
    color: var(--clr-soft-black);
}

.u-text-soft-white {
    color: var(--clr-soft-white);
}

.u-bg-primary-100 {
    background-color: var(--clr-primary-100);
}

.u-bg-primary-200 {
    background-color: var(--clr-primary-200);
}

.u-bg-primary-300 {
    background-color: var(--clr-primary-300);
}

.u-bg-secondary-40 {
    background-color: var(--clr-secondary-40);
}

.u-bg-secondary-60 {
    background-color: var(--clr-secondary-60);
}

.u-bg-secondary-80 {
    background-color: var(--clr-secondary-80);
}

.u-bg-secondary-100 {
    background-color: var(--clr-secondary-100);
}

.u-bg-secondary-200 {
    background-color: var(--clr-secondary-200);
}

.u-bg-accent-one-100{
    background-color: var(--clr-accent-one-100);
}

.u-bg-accent-one-200{
    background-color: var(--clr-accent-one-200);
}

.u-bg-accent-one-300{
    background-color: var(--clr-accent-one-100);
}

.u-bg-accent-two {
    background-color: var(--clr-accent-two);
}

.u-bg-accent-three-40 {
    background-color: var(--clr-accent-three-40)
}

.u-bg-accent-three-60 {
    background-color: var(--clr-accent-three-60)
}

.u-bg-accent-three-80 {
    background-color: var(--clr-accent-three-80)
}

.u-bg-accent-three-100 {
    background-color: var(--clr-accent-three-100)
}

.u-bg-light-80 {
    background-color: var(--clr-light-80)
}

.u-bg-light-100 {
    background-color: var(--clr-light-100)
}

.u-bg-white {
    background-color: var(--clr-white);
}

/** COMPONENTS **/

/* Navigation */

/* Rules for desktop navbar component */

.c-desktop-navbar {
padding-bottom: 1em;
background-color: var(--clr-light-80);
}

.c-desktop-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-desktop-menu__item:hover {
    transform: scale(1.1);
}

.c-desktop-menu__link {
    color: var(--clr-primary-300);
}

.c-desktop-menu__link:hover {
    color: var(--clr-accent-one-200);
}

/* Rules for Mobile navbar */

.c-mobile-navbar {
    background-color: var(--clr-light-80);
}

.c-side-navbar {
    background-color: var(--clr-light-80);
}

.c-mobile-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-mobile-menu__item:hover {
    transform: scale(1.1);
}

.c-mobile-menu__link {
    color: var(--clr-primary-300);
}

.c-mobile-menu__link:hover {
    color: var(--clr-accent-one-200);
}

/* Rules for side navbar */

.c-sidemenu__heading {
    color: var(--clr-primary-300);
    padding: 1em 0;
    font-weight: 400;
}

.c-sidemenu__item {
    color: var(--clr-primary-300);
}

.c-sidemenu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-sidemenu__item:hover {
    transform: scale(1.1);
}

/** STATES **/

/* Visibility */

/* Top menu and side menu hidden for mobile */
.is-hidden-mobile  {
    display: none;
}

/* Show mobile menu when hamburger icon toggled */
.is-visible-dropdown-menu {
    display: initial;
  }

/** LAYOUT **/

/* Flex Layout */
.l-flex {
    display: flex;
}

/* Flex Layout with space in between */
.l-flex-separate {
    display: flex;
    justify-content: space-between;
}

/** MEDIA QUERY - DESKTOP LAYOUT **/

@media only screen and (min-width: 1170px) {

/** STATES **/

/* Visibility */

.is-hidden-desktop {
    display: none;
}

.is-visible-desktop {
    display: initial;
}

}