/** TYPOGRAPHY UTILITY CLASSES **/

.u-heading--1 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-xxx-large);
    font-weight: var(--fw-bold);
    line-height: var(--line-height-0);
    text-transform: uppercase;
}
.u-heading--2 {
    font-family: var(--ff-serif);
    font-size: var(--fs-xxx-large);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-style: var(--fs-italic)
}

.u-heading--3 {
    font-family: var(--ff-serif);
    font-size: var(--fs-xx-large);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-style: var(--fs-italic)
}

.u-heading--4 {
    font-family: var(--ff-serif);
    font-size: var(--fs-x-large);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-weight: var(--fw-light);
}

.u-heading--5 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    text-transform: var(--tt-uppercase);
}

.u-heading--6 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-x-small);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-2);
    text-transform: var(--tt-uppercase);
}

.u-subheading--1 {
    font-family: var(--ff-serif);
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-1);
}

.u-subheading--2 {
    font-family: var(--ff-serif);
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-2);
    font-style: var(--fs-italic);
    letter-spacing: var(--letter-spacing-2);
}

.u-body-text {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-3);
    font-weight: var(--fw-light);
}

.u-body-text--small-light {
    font-weight: var(--fw-light);
    font-size: var(--fs-small);
    line-height: var(--line-height-3);
    font-family: var(--ff-sans-serif);
}

/* word break for long strings of characters */

.u-letter-break {
    word-break: break-all;
}

/** COMPONENTS **/

/* Navigation */

/* Rules for desktop navbar component */

.c-desktop-navbar {
    padding-bottom: 1em;
    background-color: #FFFFFF;
}

.c-desktop-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-desktop-menu__item:hover {
    transform: scale(1.1);
}

.c-desktop-menu__link {
    color: var(--clr-primary-300);
}

.c-desktop-menu__link:hover {
    text-decoration: var(--td-underline);
}

/* Rules for Mobile navbar */

.c-mobile-navbar {
    background-color: var(--clr-primary-60);
}

.c-mobile-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-mobile-menu__item:hover {
    transform: scale(1.1);
}

.c-mobile-menu__link {
    color: var(--clr-primary-300);
}

.c-mobile-menu__link:hover {
    text-decoration: var(--td-underline);
}

/* Rules for side navbar */

.c-sidemenu__heading {
    color: var(--clr-primary-300);
    padding: .8em 0;
}

.c-sidemenu__item {
    color: var(--clr-primary-300);
}

.c-sidemenu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-sidemenu__item:hover {
    transform: scale(1.1);
}

/* Fixed table layout */

.l-table--col-width-112 {
    table-layout: fixed;
    border-collapse: collapse;
   }
   
   .l-table--col-width-112 td:not(:last-child) {
      width: 120px;
      border-right: 1px solid black;
      padding: 4px;
      text-align: center;
   }
   
   .l-table--col-width-112 td:last-child {
       width: 112px;
       padding: 4px;
       text-align: center;
   }
   
   .l-table--col-width-112 tr:not(:last-child) {
       border-bottom: 1px solid black;
    }

/* Constrain width classes */
    .c-swatch {
        min-width: 24rem;
        max-width: 24rem;
    }

    .width-325-550 {
        min-width: 325px;
        max-width: 550px;
    }

/* Overflow */

overflow-hidden {
    overflow: hidden;
}
    
    
    /* To allow break in paragraph for long string of characters */
    .letter-break {
        max-width: 100vw;
        word-break: break-all;
    }
    

/* Tables */

.c-table {
    border-collapse: collapse;
    font-family: var(u-ff-sans-serif);
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.c-table td, .c-table th {   
    padding: var(--rem-space-05);
    text-align: center;
}

.c-table th {
    background-color: var(--clr-primary-80);
    font-weight: var(--fw-bold);
    text-align: center;
    border-bottom: 1px solid;
}

.c-table td:not(:last-child), .c-table th:not(:last-child) {
    border-right: 1px solid;
}

.c-table tr:not(:last-child), .c-table tr:not(:last-child) {
    border-bottom: 1px solid black;
}

/* Colour Swatches */

.c-swatch {
    min-width: 18rem;
    max-width: 18rem;
}

/** STATES **/

/* Visibility */

/* Hidden on mobile */
.is-hidden-mobile {
    display: none;
}

/* Show mobile menu when hamburger icon toggled */
.is-visible-dropdown-menu {
    display: initial;
}

/* Active page */

.is-active {
    text-decoration: var(--td-underline);
}

/** LAYOUT **/

/* Flex Layout */
.l-flex {
    display: flex;
}

/* Flex Layout with space in between */
.l-flex-separate {
    display: flex;
    justify-content: space-between;
}

/* HTML Code */

.code-container {
    background-color: var(--clr-primary-40);
    padding: var(--rem-space-1-5);
    white-space: nowrap;
    overflow-x: auto;
}

.copy-btn {
    background-color: var(--clr-primary-80);
    padding: 5px;
    border: none;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: var(--clr-secondary-200);
    color: var(--clr-soft-white);
}

pre {
    margin: 0;
}

/* Lists */

.list-item {
    padding-left: var(--rem-space-2-5);
    background-image: url(icons/leaf-bullet-point.svg);
    background-repeat: no-repeat;
    background-position: 0 .3rem;
    background-size: 16px 16px;
    margin-bottom: 1rem;
 }



/** MEDIA QUERY - DESKTOP LAYOUT **/

@media only screen and (min-width: 1200px) {

/* Spacing for desktop */

.l-ml-2--desktop {
    margin-left: var(--rem-space-2)
}

/* Desktop grid layout to keep top and side navigation sticky --> adapted from your 'Spacing Recipes'*/

.grid-sticky {
    --header-height: 3.6rem;
    display: grid;
    grid-template-areas:
        "topnav topnav"
        "sidebar main"
        "footer footer";
    grid-template-columns: 10rem 1fr;
    gap: 0;
    margin-right: auto;
    margin-left: auto;
    isolation: isolate;
}

.topnav-sticky {
    grid-area: topnav;
    position: sticky;
    z-index: 10;
    top: 0;
    place-content: center;
    height: var(--header-height);
    border-bottom: 1px solid;
}

aside {
    grid-area: sidebar;
    position: relative;
    z-index: 1;
    border-right: 1px solid;
}

.sidebar-sticky {
    position: sticky;
    top: 3rem;
}

main {
    grid-area: main;
    min-height: 180vh;
    padding: 1rem;
}

footer {
    grid-area: footer;
    display: grid;
    place-content: center;
    height: 5rem;
    border-top: 1px solid;
    background-color: white;
    position: relative;
    z-index: 2;
}

    /** STATES **/

    /* Visibility */

    .is-hidden-desktop {
        display: none;
    }

    .is-visible-desktop {
        display: initial;
    }

    /* Swatch for colours */

    .c-swatch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name-hex properties";
        justify-content: center;
        gap:16px;
    }

    .swatch-table {
        border-collapse: separate;
        border-spacing: 15px 5px;
        justify-content: end;
        min-width: 226.89px
    }

    .swatch-table tr {
        padding: 0 10px
    }

    .name-hex {
        grid-area: name-hex;
        min-width: 301px
    }

    .properties {
        grid-area: properties;
    }

    .l-grid--cols-2--desktop {
        grid-template-columns: repeat(2, 1fr);
    } 
    
    .l-grid--desktop {
        display: grid;
    }

    /* Top and side navigation for desktop */

    aside {
        background-color: var(--clr-primary-40);
    }

    .c-desktop-navbar {
        background-color: var(--clr-primary-40);
    }

    /* Containers */

    .width-630-center--desktop {
        max-width: 630px;
        padding-right: 32px;
        padding-left: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .c-swatch {
        min-width: 472px;
        max-width: 650px;
    }

/* Column layout */

.desktop-column-layout {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid;
    min-width: 100ch;
    max-width: 150ch;
    margin-right: auto;
    margin-left: auto;
}

/* Layout for desktop */

.l-grid-row-12 {
    grid-template-rows: 12em
}

.l-flex-desktop {
    display: flex;
}

.l-flex--wrap-desktop {
    flex-wrap: wrap;
}

/* Accordion Example */

.html-code__heading {
    margin-top: 49rem;
}

}