/** TYPOGRAPHY UTILITY CLASSES **/

.u-heading--1 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-xxx-large);
    font-weight: var(--fw-bold);
    line-height: var(--line-height-0);
    text-transform: uppercase;
}
.u-heading--2 {
    font-family: var(--ff-serif);
    font-size: var(--fs-xxx-large);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-style: var(--fs-italic)
}

.u-heading--3 {
    font-family: var(--ff-serif);
    font-size: var(--fs-xx-large);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-style: var(--fs-italic)
}

.u-heading--4 {
    font-family: var(--ff-serif);
    font-size: var(--fs-x-large);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-weight: var(--fw-light);
}

.u-heading--5 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    text-transform: var(--tt-uppercase);
}

.u-heading--6 {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-x-small);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-2);
    text-transform: var(--tt-uppercase);
}

.u-subheading--1 {
    font-family: var(--ff-serif);
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-1);
}

.u-subheading--2 {
    font-family: var(--ff-serif);
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-2);
    font-style: var(--fs-italic);
    letter-spacing: var(--letter-spacing-2);
}

.u-body-text {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-3);
}

.u-body-text--small-light {
    font-weight: var(--fw-light);
    font-size: var(--fs-small);
    line-height: var(--line-height-3);
    font-family: var(--ff-sans-serif);
}

/** COMPONENTS **/

/* Navigation */

/* Rules for desktop navbar component */

.c-desktop-navbar {
    padding-bottom: 1em;
    background-color: var(--clr-primary-60);
}

.c-desktop-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-desktop-menu__item:hover {
    transform: scale(1.1);
}

.c-desktop-menu__link {
    color: var(--clr-primary-300);
}

.c-desktop-menu__link:hover {
    text-decoration: var(--td-underline);
}

/* Rules for Mobile navbar */

.c-mobile-navbar {
    background-color: var(--clr-primary-60);
}

.c-side-navbar {
    background-color: var(--clr-primary-60);
}

.c-mobile-menu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-mobile-menu__item:hover {
    transform: scale(1.1);
}

.c-mobile-menu__link {
    color: var(--clr-primary-300);
}

.c-mobile-menu__link:hover {
    text-decoration: var(--td-underline);
}

/* Rules for side navbar */

.c-sidemenu__heading {
    color: var(--clr-primary-300);
    padding: .8em 0;
}

.c-sidemenu__item {
    color: var(--clr-primary-300);
}

.c-sidemenu__item {
    transition: all .2s ease-in-out;
    transform-origin: left top;
}

.c-sidemenu__item:hover {
    transform: scale(1.1);
}

/* Buttons */

.c-button {
    width: 12em;
    font-size: var(--fs--small);
    padding: .6em;
    border: 1px solid var(--clr-primary-300);
    background-color: var(--clr-accent-one-100);
    text-align: center;
    text-transform: var(--tt-uppercase);
}

/* Colour Swatches */

.swatch {
    min-width: 20rem;
    max-width: 20rem;
}

/** STATES **/

/* Visibility */

/* Hidden on mobile */
.is-hidden-mobile {
    display: none;
}

/* Show mobile menu when hamburger icon toggled */
.is-visible-dropdown-menu {
    display: initial;
}

/* Active page */

.is-active {
    text-decoration: var(--td-underline);
}

/** LAYOUT **/

/* Flex Layout */
.l-flex {
    display: flex;
}

/* Flex Layout with space in between */
.l-flex-separate {
    display: flex;
    justify-content: space-between;
}

/** MEDIA QUERY - DESKTOP LAYOUT **/

@media only screen and (min-width: 1200px) {

    /** STATES **/

    /* Visibility */

    .is-hidden-desktop {
        display: none;
    }

    .is-visible-desktop {
        display: initial;
    }

}