/** GLOBAL STYLES **/


/** CSS RESET & GLOBAL VARIABLES **/

/* Border Box Fix */
:root {
    box-sizing: border-box;
    --clr-primary: #434A3E;
    --clr-secondary: #704153;
    --clr-secondary-dark: #54303E;
    --clr-accent-one: #C9C856;
    --clr-accent-one-darker: #979641;
    --clr-accent-one-darkest: #65642B;
    --clr-accent-two: #966D6F;
    --clr-accent-three: #C9565B;
    --clr-light: #DEE0DC;
    --clr-white: #ffffff;
}

/* Reset Margins */
body, h1, h2, h3, h4, h5, h6, p, figure, image, ul, lo {
    margin: 0;
}

/* Remove padding & style from Lists */
ul, ol {
    padding: 0;
    list-style: none;
}

/* Remove underline from links */
a {
    text-decoration: none;
}
