/** GLOBAL STYLES **/


/** CSS RESET & GLOBAL VARIABLES **/

/* Reset Margins */
body, h1, h2, h3, h4, ul h4, h5, h6, p, figure, image, ul, ol, li {
    margin: 0;
    padding:unset;
}

/* Remove padding & style from Lists */
ul, ol {
    padding: 0;
    list-style: none;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Border Box Fix */
:root {
    box-sizing: border-box;

/* Colour Variables */ 
    --clr-primary-40: #F9F9F8;
    --clr-primary-60: #EFF0EE;
    --clr-primary-80: #E6EEEA;
    --clr-primary-100: #598878;
    --clr-primary-200: #306A56;
    --clr-primary-300: #245041;

    --clr-secondary-60: #E5E7E6;
    --clr-secondary-80: #D3D7D6;
    --clr-secondary-100: #B5BDBA;
    --clr-secondary-200: #6B7A75;

    --clr-accent-one-80: #D9E86B;
    --clr-accent-one-100: #BBCB44;
    --clr-accent-one-200: #9AA739;
    
    --clr-accent-two: #609D9F;
    
    --clr-almost-white: #FAFCFB;
    --clr-soft-white: #F2F5F4;
    --clr-soft-black: #545454;

    /*** TYPOGRAPHY ***/

    /* Typeface */
    --ff-serif: "Lora", serif;
    --ff-sans-serif: "Noto Sans", sans-serif;

    /* Font-weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Font-size */
    --fs-x-small: .75em;
    --fs-small: .875em;
    --fs-regular: 1em;
    --fs-medium: 1.25em;
    --fs-large: 1.60em;
    --fs-x-large: 2em;
    --fs-xx-large: 3.5em;
    --fs-xxx-large: 6em;

    /* Font style */
    --fs-italic: italic;
    --td-underline: underline;
    --tt-uppercase: uppercase;

    /* Letter spacing */
    --letter-spacing-0: -0.02em;
    --letter-spacing-1: .05em;
    --letter-spacing-2: .08em;
    --letter-spacing-3: 1em;

    /* Line Height */
    --line-height-0: 1.2;
    --line-height-1: 1.3;
    --line-height-2: 1.4;
    --line-height-3: 1.6;
}

/** UTILITY CLASSES **/

/* COLOUR */

.u-text-primary-100 {
    color: var(--clr-primary-100);
}

.u-text-primary-200 {
    color: var(--clr-primary-200);
}

.u-text-primary-300 {
    color: var(--clr-primary-300)
}

.u-text-secondary-60 {
    color: var(--clr-secondary-60);
}

.u-text-secondary-80 {
    color: var(--clr-secondary-80);
}

.u-text-secondary-100 {
    color: var(--clr-secondary-100);
}

.u-text-secondary-200 {
    color: var(--clr-secondary-200);
}

.u-text-accent-one-80 {
    color: var(--clr-accent-one-80);
}

.u-text-accent-one-100 {
    color: var(--clr-accent-one-100);
}

.u-text-accent-one-200 {
    color: var(--clr-accent-one-200);
}

.u-text-accent-two {
    color: var(--clr-accent-two);
}

.u-text-almost-white {
    color: var(--clr-almost-white);
}

.u-text-soft-white {
    color: var(--clr-soft-white);
}

.u-text-soft-black {
    color: var(--clr-soft-black);
}

.u-bg-primary-40 {
    background-color: var(--clr-primary-40);
}

.u-bg-primary-60 {
    background-color: var(--clr-primary-60);
}

.u-bg-primary-80 {
    background-color: var(--clr-primary-80);
}

.u-bg-primary-100 {
    background-color: var(--clr-primary-100);
}

.u-bg-primary-200 {
    background-color: var(--clr-primary-200);
}

.u-bg-primary-300 {
    background-color: var(--clr-primary-300);
}

.u-bg-secondary-60 {
    background-color: var(--clr-secondary-60);
}

.u-bg-secondary-80 {
    background-color: var(--clr-secondary-80);
}

.u-bg-secondary-100 {
    background-color: var(--clr-secondary-100);
}

.u-bg-secondary-200 {
    background-color: var(--clr-secondary-200);
}

.u-bg-accent-one-80 {
    background-color: var(--clr-accent-one-80);
}

.u-bg-accent-one-100{
    background-color: var(--clr-accent-one-100)
}

.u-bg-accent-one-200{
    background-color: var(--clr-accent-one-200);
}

.u-bg-accent-two {
    background-color: var(--clr-accent-two);
}

.u-bg-almost-white {
    background-color: var(--clr-almost-white);
}

.u-bg-soft-white {
    background-color: var(--clr-soft-white);
}

.u-bg-soft-black {
    background-color: var(--clr-soft-black);
}


/* TYPOGRAPHY */

.u-ff-serif {
    font-family: var(--ff-serif);
}

.u-ff-sans-serif {
    font-family: var(--ff-sans-serif);
}

.u-fw-light {
    font-weight: var(--fw-light);
}

.u-fw-regular {
    font-weight: var(--fw-regular);
}

.u-fw-medium {
    font-weight: var(--fw-medium);
}

.u-fw-bold {
    font-weight: var(--fw-bold);
}

.u-fs-x-small {
    font-size: var(--fs-x-small);
}

.u-fs-small {
    font-size: var(--fs-small);
}

.u-fs-regular {
    font-size: var(--fs-regular);
}

.u-fs-medium {
    font-size: var(--fs-medium);
}

.u-fs-large {
    font-size: var(--fs-large);
}

.u-fs-x-large {
    font-size: var(--fs-x-large);
}

.u-fs-xx-large {
    font-size: var(--fs-xx-large);
}

.u-fs-xxx-large {
    font-size: var(--fs-xxx-large);
}

.u-fs-italic {
    font-style: var(--fs-italic);
}

.u-td-underline {
    text-decoration: var(--td-underline);
}

.u-tt-uppercase {
    text-transform: var(--tt-uppercase);
}

/* Letter spacing */

.u-letter-spacing-0 {
    letter-spacing: var(--letter-spacing-0);
}

.u-letter-spacing-1 {
    letter-spacing: var(--letter-spacing-1);
}

.u-letter-spacing-2 {
    letter-spacing: var(--letter-spacing-2);
}

.u-letter-spacing-3 {
    letter-spacing: var(--letter-spacing-3);
}

/* Line Height */

.u-line-height-0 {
    line-height: var( --line-height-0);
}

.u-line-height-1 {
    line-height: var( --line-height-1);
}

.u-line-height-2 {
    line-height: var( --line-height-2);
}

.u-line-height-3 {
    line-height: var( --line-height-3);
}
